/* stylelint-disable CssSyntaxError */
/* stylelint-disable order/properties-order */
/* stylelint-disable no-duplicate-selectors */
.container {
  min-height: 100vh;
  padding: 40px 16px;
  background: #f8f8f8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  padding-top: 40px;
  font-size: 80px;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.box1, .box2 {
  border: 2px solid #000;
  padding: 20px;
  width: 100%;
  height: 130px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.sidebarContainer {
  display: flex;
  justify-content: space-evenly; /* 左右に配置 */
  width: 100%; /* 横幅を全体に */
  margin-top: 10px; /* box2との間に余白を */
  margin-right: 10px;
}


.sidebar {
  width: 400px;
  height: 550px;
  border: 2px solid #000;
  background-color: #e0e0e0;
  padding: 20px;
}

/* 右側に配置される枠 */
.sidebarRight {
  width: 400px;
  height: 550px;
  border: 2px solid #000;
  background-color: #e0e0e0;
  padding: 20px;
}


@media (width = 390px) and (height = 844px) {
  .container {
    padding: 20px 8px;
    min-height: 100vh;
  }

  .title {
    padding-top: 20px;
    font-size: 48px;
  }
}
